
/* Vista de editor de productos */
.edit-product-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.products{
  display: inline-flex;
  width: 400px;
}

/* Fin de vista de editor de productos */

.vertical-center{
  display: none;
}


@media (max-width: 700px) {

/* Categorias */
.container-card{
  display: none;
}
.vertical-center{
  position: relative;
  display: inline-block;
  left: 50vw;
}
/* Fin de categorias */

}
/* Footer */

footer{
  background-image: url('../images/footer-banner.png');
  background-size: contain;
  border-bottom: 200px solid rgb(85, 85, 85,1);
}

.social-links{
  top:300px;
  position: relative;
}
.social {
  margin: 10px;
}
.my-map{
  position: relative;
  top:175px;
}
/* Fin de footer */
