
/* Vista de editor de productos */
.edit-product-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.products{
  display: inline-flex;
  width: 400px;
}

/* Fin de vista de editor de productos */

.lazy{
  display: none;
}


@media (max-width: 500px) {

/* Categorias */
.container-card{
  display: none;
}
.lazy{
  /* position: relative; */
  display: inline-block;
}
.my-items{
  padding: 0px 21px;
  margin: 0 5vw;
}

/* Fin de categorias */

/* Cart-Styles */

/* Fin de Cart-Styles */

/* Footer */
footer{
  background-repeat: no-repeat;
  background-position: bottom;
}
/* Fin de Footer */

}
/* Footer */

footer{
  background-image: url('../images/footer-banner.png');
  background-size: contain;
  /* background-repeat: no-repeat; */
  border-bottom: 200px solid rgb(85, 85, 85,1);
}

.location{
  position: relative;
  top: 150px;
  margin: 10px;
}

.social-links{
  top:150px;
  position: relative;
}
.social {
  margin: 10px;
}
.my-map{
  position: relative;
  top:175px;
  margin-left: 10px;
}
/* Fin de footer */
