
/* Vista de editor de productos */
.edit-product-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.products{
  display: inline-flex;
  width: 400px;
}

/* Fin de vista de editor de productos */
